.slides{
    opacity: 0;
}
.image-slider-left, .image-slider-right, .image-slider-dot{
    cursor:pointer;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}
.image-slider-dot:hover{
    background-color: rgb(226, 230, 232);
    border:2px solid rgb(226, 230, 232);
}
.white-dot{
    border:2px solid rgb(226, 230, 232);
    background: rgb(226, 230, 232);
}
.image-slider-dot{
    height:1em;
    width: 1em;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:2px solid rgb(226, 230, 232);
}
.image-slider-left,.image-slider-right{
    line-height: 2em;
    width: 2em;
    height: 2em;
    font-size: 3em;
    text-align: center;
}
.image-slider-left:hover,.image-slider-right:hover{
    background-color: rgb(226, 230, 232);
    opacity: 0.5;
}
.slider-nav{
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 2em;
    margin: 0 2em;
    justify-content: space-between;
}

.image_slider{
    position: relative;
    height: 100%;
}
.slides{
    animation: fadeIn 0.2s linear alternate;
    -webkit-animation: fadeIn 0.2s linear alternate;
    -moz-animation: fadeIn 0.2s linear alternate;
    -o-animation: fadeIn 0.2s linear alternate;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
