div.social-feed-container {
  display: flex;
  overflow-x: auto;
  margin: 0 1.5em;
}

div.social-feed-element {
  align-self: center;
  width: 100%;
  margin-right: 2em;
  margin-bottom: 1em;
}
#fb_feed{
  padding-top: 1em;
  padding-bottom: 3em;
  width: 100%;
  background: url(../../img/bg_2.jpg) 0 0 repeat;
}

#fb_feed h2{
    color: rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width: 699px) {
  div.social-feed-element{
    flex: 0 0 auto;
    width: 100%;
  }
  #fb_feed{
    padding-bottom: 2em;
  }
}
@media only screen and (min-width: 700px) {
  div.social-feed-container {
    flex-flow: wrap;
    justify-content: space-between;
  }
  div.social-feed-element {
    margin: 0;
    margin-bottom: 1em;
    width: 48%;
  }
}

@media only screen and (min-width: 1200px) {
  div.social-feed-container {
    flex-direction: row;
  }
  div.social-feed-element {
    width: 24%;
  }
}
